 html,
 body {
     margin: 0px;
 }
 canvas {
     display: block;
     background: #111;
     position: fixed;
     /* or absolute */
     
     z-index: -1;
     /* put it behind all other elements */
 }
 .greeting {
     padding: 0px;
     padding-top: 25px;
     margin-bottom: 50px;
 }
 .your-name,
 .wishing-you,
 .advance,
 .new-year,
 .t18,
 .is-text,
 .a-very {
     text-align: center;
     color: white;
     letter-spacing: 5px;
     margin:0px;
 }
 .is-text {
     font-size: 25px;
     padding: 0px;
     font-family: "Risque";
 }
 .your-name {
     font-family: "Pangolin";
     padding: 10px;
     font-size: 30px;
 }
 .wishing-you {
     font-size: 35px;
     padding: 10px;
     font-family: "Risque";
 }
 .a-very {
     font-size: 40px;
     padding: 5px;
     font-family: "Risque";
 }
 .advance {
     padding: 5px;
     font-family: "Cookie";
     font-size: 22px;
     display: none;
 }
 .new-year {
     padding-top: 5px;
     font-family: "Freckle Face";
     font-size: 55px;
     line-height: 65px;
 }
 .t18 {
     padding-top: 15px;
     font-family: "Frijole";
     font-size: 70px;
 }
 .footer {
     position: fixed;
     /* height: 40px; */
     width: 100%;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin-bottom: 0px;
 }
 .my-button {
     font-family: "Risque";
     font-size: 16px; ;
 }
 .my-button i {
     font-size: 18px;
 }
  
 .sharer {
     display: none;
 }
 .form {
     background-color: white;
     font-family: "Risque";
     width: 100%; 
     display: none;
 }
 #share-button-text {
     display: none;
 }
 .check-box-container {
     height: 38px;
     padding: 0px 20px 0px 10px;
     background-color: black;
     /* width: 40%; */
       width: 100%; 
     float: left;
 }
 .check-box-container p {
     color: white;
     text-align: center;
     margin: 0px;
 }

  .input-box-container {
     /* width: 35%; */
      width: 100%;  
     float: left;
 }
 .create-button-container {
     width: 100%; 
     float: left;
 }

 .input-box,
 .check-box,
 .lable-in-advance,
 .create-button {
     text-align: center;
     font-size: 14px;
     padding-right: 5px !important;
     padding-left: 5px !important;
 }

 #facebook-button{
        width: 100%;
 }
 #tweet-button{
        width: 100%;
 }
 #whats-app-button{
        width: 100%;
 }

 .adboard{
     margin: 0 auto 0; 
 }